@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-lg;
  }
  *::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 9999px;
  }
  * {
    transition-duration: 0.5s;
  }
}

@layer components {
  .check-color {
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  }
  .selected {
    @apply text-primary;
  }
  .scrollable::-webkit-scrollbar {
    width: 0.25rem;
  }
}
